<div class="canva-show-section">
  <div class="canva-img-box">
    <% if @canva.image.attached? %>
      <%= link_to image_tag(@canva.image, class:"canva-img"), @canva.image, target:'_blank' %>
    <% end %>
  </div>

  <div class="canva-show-text-box">
    <p class="canva-show-title"><%= @canva.title %></p>
    <p class="canva-show-description"><%= @canva.artist.name %></p>
    <p class="canva-show-description"><%= @canva.height %> x <%= @canva.width %> cm, <%= @canva.year %></p>
    <p class="canva-show-description"><%= @canva.technique %></p><br>
    
    <% if user_signed_in? %>
      <p class="canva-show-description">R$ <%= @canva.price %></p>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <div class="buttons-grid form-admin">
    <% if @canva.available? %>
      <%= button_to 'Acervo', collection_canva_path(@canva.id), class:"form-button" %><br>
      <%= button_to 'Vendida', sold_canva_path(@canva.id), class:"form-button" %><br>
    <% end %>
    <% if @canva.collection? %>
      <%= button_to 'Disponível', available_canva_path(@canva.id), class:"form-button" %><br>
      <%= button_to 'Vendida', sold_canva_path(@canva.id), class:"form-button" %><br>
    <% end %>
    <% if @canva.sold? %>
      <%= button_to 'Disponível', available_canva_path(@canva.id), class:"form-button" %><br>
      <%= button_to 'Acervo', collection_canva_path(@canva.id), class:"form-button" %><br>
    <% end %>
    <% if @canva.hide? %>
      <%= button_to 'Mostrar', exhibit_canva_path(@canva.id), class:"form-button" %><br>
    <% end %>
    <% if @canva.exhibit? %>
      <%= button_to 'Não Exibir', hide_canva_path(@canva.id), class:"form-button" %><br>
    <% end %>
    <%= link_to 'Editar', edit_canva_path(@canva.id), class: "edit-button" %><br><br>
    <%= button_to 'Excluir tela', canva_path(@canva.id), method: :delete, class:"form-button" %>
  </div>
<% end %>
