 <h2><%= @artist.name %></h2>


 <div>
  <p><%= @canva.title %></p>
  <p><%= @canva.technique %></p>
  <p><%= @canva.height %> x <%= @canva.width %> cm</p>
  <p><%= @canva.year %></p>
  <p>referência: <%= @canva.code %></p>
  <p>coleção: <%= @canva.collection_name %></p>
 </div>