<div class="bio-title-box">
  <p class="bio-title-bio"><%= t '.biography' %></p>
  <p class="bio-title-name">ÉMILE TUCHBAND</p>
</div>
</div>
<div class="bio-section">
  <div class="bio-text">
    <p class="bio-year" >1959</p>
    <p class="bio-event" ><%= t '.text1959' %></p>
    <p class="bio-year" >1960</p>
    <p class="bio-event" ><%= t '.text1960' %></p>
    <p class="bio-year" >1962</p>
    <p class="bio-event" ><%= t '.text1962' %></p>
    <p class="bio-year" >1963</p>
    <p class="bio-event" ><%= t '.text1963' %></p>
    <p class="bio-year" >1964</p>
    <p class="bio-event" ><%= t '.text1964' %></p>
    <p class="bio-year" >1965</p>
    <p class="bio-event" ><%= t '.text1965' %></p>
    <p class="bio-year" >1966</p>
    <p class="bio-event" ><%= t '.text1966' %></p>
    <p class="bio-year" >1967</p>
    <p class="bio-event" ><%= t '.text1967' %></p>
    <p class="bio-year" >1968</p>
    <p class="bio-event" ><%= t '.text1968' %></p>
    <p class="bio-year" >1970</p>
    <p class="bio-event" ><%= t '.text1970' %></p>
    <p class="bio-year" >1972</p>
    <p class="bio-event" ><%= t '.text1972' %></p>
    <p class="bio-year" >1973</p>
    <p class="bio-event" ><%= t '.text1973' %></p>
    <p class="bio-year" >1974</p>
    <p class="bio-event" ><%= t '.text1974' %></p>
    <p class="bio-year" >1975</p>
    <p class="bio-event" ><%= t '.text1975' %></p>
    <p class="bio-year" >1976</p>
    <p class="bio-event" ><%= t '.text1976' %></p>
    <p class="bio-year" >1977</p>
    <p class="bio-event" ><%= t '.text1977' %></p>
    <p class="bio-year" >1978</p>
    <p class="bio-event" ><%= t '.text1978' %></p>
    <p class="bio-year" >1980</p>
    <p class="bio-event" ><%= t '.text1980' %></p>
    <p class="bio-year" >1983</p>
    <p class="bio-event" ><%= t '.text1983' %></p>
    <p class="bio-year" >1985</p>
    <p class="bio-event" ><%= t '.text1985' %></p>
    <p class="bio-year" >1987</p>
    <p class="bio-event" ><%= t '.text1987' %></p>
    <p class="bio-year" >1988</p>
    <p class="bio-event" ><%= t '.text1988' %></p>
    <p class="bio-year" >1989</p>
    <p class="bio-event" ><%= t '.text1989' %></p>
    <p class="bio-year" >1990</p>
    <p class="bio-event" ><%= t '.text1990' %></p>
    <p class="bio-year" >1998</p>
    <p class="bio-event" ><%= t '.text1998' %></p>
    <p class="bio-year" >2005</p>
    <p class="bio-event" ><%= t '.text2005' %></p>
    <p class="bio-year" >2009</p>
    <p class="bio-event" ><%= t '.text2009' %></p>
    <p class="bio-year" >2010</p>
    <p class="bio-event" ><%= t '.text2010' %></p>
    <p class="bio-year" >2011</p>
    <p class="bio-event" ><%= t '.text2011' %></p>
    <p class="bio-year" >2017</p>
    <p class="bio-event" ><%= t '.text2017' %></p>
  </div>
  <div class="bio-imgs-grid">
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet1.jpg" alt="Émile Tuchband em Paris" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet2.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/isabelle/it3.jpeg" alt="capa do Dicionário Benezit" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/isabelle/it4.jpeg" alt="menção à Émile Tuchband no dicionário Benezit" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet3.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet4.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet5.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet6.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet8.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet10.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet11.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet12.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet14.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet15.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet17.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet18.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet19.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
      <div class="bio-img-box">
        <img src="app/assets/images/emile/bioet20.JPEG" alt="obra de Émile Tuchband" class="bio-img">
      </div>
  </div>
</div>