<section class="atelier-section">
  <div class="atelier-grid">
    <div class="artist-description">
      <p class="artist-title">ISABELLE TUCHBAND</p>
      <p class="artist-text"><%= t '.isabelle_minibio' %></p>
    </div>
    <div class="atelier-images">
      <div class="slider">
        <ul class="slider-ul">
          <li>
            <img src="/assets/isabelle/pgit3.jpeg" alt="Isabelle Tuchband em seu atelier" class="slider-img">
          </li>
          <li>
            <img src="/assets/isabelle/santa.jpeg" alt="Pintura de Isabelle Tuchband" class="slider-img">
          </li>
          <li>
            <img src="/assets/isabelle/pgit10.jpeg" alt="Mãos de Isabelle Tuchband" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider fixed-slide">
        <img src="/assets/isabelle/pgit13.jpeg" alt="Isabelle Tuchband na Rússia em 2019" class="slider-img">
      </div>
      <div class="slider">
        <ul class="slider-ul slider-dois">
          <li>
            <img src="/assets/isabelle/pgit5.jpeg" alt="Isabelle Tuchband em Sevilha" class="slider-img">
          </li>
          <li>
            <img src="/assets/isabelle/pgit9.jpeg" alt="Isabelle e Max Tuchband" class="slider-img">
          </li>
          <li>
            <img src="/assets/isabelle/pgit11.jpeg" alt="Pés de Isabelle Tuchband" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider fixed-slide">
        <img src="/assets/isabelle/pgit4.jpeg" alt="Isabelle Tuchband no atelier" class="slider-img">
      </div>
      <div class="slider">
        <ul class="slider-ul slider-tres">
          <li>
            <img src="/assets/isabelle/133.jpeg" alt="Pintura de Isabelle Tuchband" class="slider-img">
          </li>
          <li>
            <img src="/assets/isabelle/isabelle2.jpg" alt="Isabelle Tuchband" class="slider-img">
          </li>
          <li>
            <img src="/assets/isabelle/pgit8.jpeg" alt="Retrato de Clara Tuchband pintado por sua neta Isabelle Tuchband" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider">
        <ul class="slider-ul">
          <li>
            <img src="/assets/isabelle/pgit14.jpeg" alt="Jaguar Parade por Isabelle Tuchband" class="slider-img">
          </li>
          <li>
            <img src="/assets/isabelle/pgit7.jpeg" alt="exposição Isabelle Tuchband" class="slider-img">
          </li>
          <li>
            <img src="/assets/isabelle/pgit6.jpeg" alt="vaso em cerâmica e ouro por Isabelle Tuchband" class="slider-img">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bio-link">
    <a href="/isabelle-tuchband/bio">
      <div class="store-btn-container">
        <button class="store-btn bio-btn"><span><%= t '.biography_link' %></span></button>
      </div>
    </a>
    <a href="https://wa.me/5511982113406?text=Lista%20de%20preços%20Isabelle%20Tuchband" target="_blank">
      <div class="store-btn-container">
        <button class="store-btn bio-btn"><span><%= t '.price_list' %></span></button>
      </div>
    </a>
  </div>
</section>
<section class="work-section">
  <div class="work-head">
    <p class="work-head-title">PINTURAS | PAINTINGS | PEINTURES</p><br>
  </div>
  <div class="space"></div>
  <div class="canvas-grid-admin work-section">
    <% if @canvas.any? %>
      <% @canvas.each do |canva| %>
        <% if canva.exhibit? %>
          <div class="canvas-card-admin work-card">
            <div class="img-box-admin">
              <% if canva.image.attached? %>
                <%= link_to image_tag(canva.image, class: "canvas-img-admin work-img"), canva %>
              <% else %>
                <p><%= t '.missing_img' %></p>
              <% end %>
            </div>
            <p class="title-adm work-title"><%= link_to canva.title, canva_path(canva.id) %></p>
            <p class="desc-adm work-desc"><%= canva.height %> x <%= canva.width %> cm</p>
            <p class="desc-adm work-desc"><%= canva.technique %>, <%= canva.year %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>

