<div class="bio-title-box">
  <p class="bio-title-bio"><%= t '.biography' %></p>
  <p class="bio-title-name">ISABELLE TUCHBAND</p>
</div>
<div class="bio-section">
  <div class="bio-text">
    <p class="bio-year" >1968</p>
    <p class="bio-event" ><%= t '.text1968' %></p>
    <p class="bio-year" >1986</p>
    <p class="bio-event" ><%= t '.text1986' %></p>
    <p class="bio-year" >1987</p>
    <p class="bio-event" ><%= t '.text1987' %></p>
    <p class="bio-year" >1988</p>
    <p class="bio-event" ><%= t '.text1988' %></p>
    <p class="bio-year" >1989</p>
    <p class="bio-event" ><%= t '.text1989' %></p>
    <p class="bio-year" >1992</p>
    <p class="bio-event" ><%= t '.text1992' %></p>
    <p class="bio-year" >1993</p>
    <p class="bio-event" ><%= t '.text1993' %></p>
    <p class="bio-year" >1994</p>
    <p class="bio-event" ><%= t '.text1994' %></p>
    <p class="bio-year" >1995</p>
    <p class="bio-event" ><%= t '.text1995' %></p>
    <p class="bio-year" >1996</p>
    <p class="bio-event" ><%= t '.text1996' %></p>
    <p class="bio-year" >1997</p>
    <p class="bio-event" ><%= t '.text1997' %></p>
    <p class="bio-year" >1998</p>
    <p class="bio-event" ><%= t '.text1998' %></p>
    <p class="bio-year" >1999</p>
    <p class="bio-event" ><%= t '.text1999' %></p>
    <p class="bio-year" >2001</p>
    <p class="bio-event" ><%= t '.text2001' %></p>
    <p class="bio-year" >2002</p>
    <p class="bio-event" ><%= t '.text2002' %></p>
    <p class="bio-year" >2003</p>
    <p class="bio-event" ><%= t '.text2003' %></p>
    <p class="bio-year" >2004</p>
    <p class="bio-event" ><%= t '.text2004' %></p>
    <p class="bio-year" >2005</p>
    <p class="bio-event" ><%= t '.text2005' %></p>
    <p class="bio-year" >2006</p>
    <p class="bio-event" ><%= t '.text2006' %></p>
    <p class="bio-year" >2007</p>
    <p class="bio-event" ><%= t '.text2007' %></p>
    <p class="bio-year" >2008</p>
    <p class="bio-event" ><%= t '.text2008' %></p>
    <p class="bio-year" >2009</p>
    <p class="bio-event" ><%= t '.text2009' %></p>
    <p class="bio-year" >2010</p>
    <p class="bio-event" ><%= t '.text2010' %></p>
    <p class="bio-year" >2011</p>
    <p class="bio-event" ><%= t '.text2011' %></p>
    <p class="bio-year" >2012</p>
    <p class="bio-event" ><%= t '.text2012' %></p>
    <p class="bio-year" >2013</p>
    <p class="bio-event" ><%= t '.text2013' %></p>
    <p class="bio-year" >2014</p>
    <p class="bio-event" ><%= t '.text2014' %></p>
    <p class="bio-year" >2015</p>
    <p class="bio-event" ><%= t '.text2015' %></p>
    <p class="bio-year" >2016</p>
    <p class="bio-event" ><%= t '.text2016' %></p>
    <p class="bio-year" >2017</p>
    <p class="bio-event" ><%= t '.text2017' %></p>
    <p class="bio-year" >2018</p>
    <p class="bio-event" ><%= t '.text2018' %></p>
    <p class="bio-year" >2019</p>
    <p class="bio-event" ><%= t '.text2019' %></p>
    <p class="bio-year" >2020</p>
    <p class="bio-event" ><%= t '.text2020' %></p>
    <p class="bio-year" >2021</p>
    <p class="bio-event" ><%= t '.text2021' %></p>
    <p class="bio-year" >2022</p>
    <p class="bio-event" ><%= t '.text2022' %></p>
  </div>
  <div class="bio-imgs-grid">
      <div class="bio-img-box">
        <%= image_tag "isabelle/it1.jpeg", alt: "Isabelle Tuchband foto de Pablo di Giulio", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it2.jpeg", alt: "mão de Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it3.jpeg", alt: "capa do Dicionário Benezit", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it4.jpeg", alt: "menção à Isabelle Tuchband no dicionário Benezit", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it5.jpeg", alt: "obra de Isabelle Tuchband na vitrine do Monoprix Paris", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it6.jpeg", alt: "Marlene, Isabelle e Max Tuchband exposição FAAP", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it7.jpeg", alt: "obra de Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it8.jpeg", alt: "obra de Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it9.jpeg", alt: "obra de Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it10.jpeg", alt: "I love you with all my art", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it11.jpeg", alt: "obra de Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it12.jpeg", alt: "Isabelle Tuchband pintando em Paris", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it13.jpeg", alt: "Isabelle Tuchband com vaso", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it14.jpeg", alt: "obra de Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it15.jpeg", alt: "exposição Isabelle Tuchband Feel Spain", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it16.jpeg", alt: "Isabelle Tuchband em seu atelier", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it17.jpeg", alt: "lata com pintura de Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it18.jpeg", alt: "Isabelle Tuchband na Espanha", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it19.jpeg", alt: "obra de Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it20.jpeg", alt: "vaso de Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it21.jpeg", alt: "Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it22.jpeg", alt: "obra de Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it23.jpeg", alt: "obra de Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it24.jpeg", alt: "Isabelle Tuchband", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it25.jpg", alt: "Isabelle Tuchband na Grécia", class:"bio-img" %>
      </div>
      <div class="bio-img-box">
        <%= image_tag "isabelle/it26.jpeg", alt: "pintura de Isabelle Tuchband", class:"bio-img" %>
      </div>
  </div>
</div>