<section class="artists">
  <div class="box-grid isabelle">
    <div class="box-image">
      <img src="/assets/index/272.JPEG" alt="pintura de Isabelle Tuchband" class="photo">
    </div>
    <div class="box-names">
      <div class="box-name">
        <p class="artist-name">ISABELLE</p>
      </div>
      <div class="box-surname">
        <p class="artist-surname">TUCHBAND</p>
      </div>
      <div class="box-button">
        <div class="center">
          <button class="btn">
             <svg width="210px" height="70px" viewBox="0 0 210 70" class="border" preserveAspectRatio="none">
              <polyline points="209,29 209,69 1,69 1,1 160,1" class="bg-line"/>
              <polyline points="209,29 209,69 1,69 1,1 160,1" class="hl-line"/>
            </svg>
            <span>ENTREZ</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-grid reveal emile">
    <div class="box-image">
      <img src="/assets/index/044.JPEG" alt="pintura de Émile Tuchband" class="photo">
    </div>
    <div class="box-names emile">
      <div class="box-name">
        <p class="artist-name emile">ÉMILE</p>
      </div>
      <div class="box-surname">
        <p class="artist-surname emile">TUCHBAND</p>
      </div>
      <div class="box-button">
        <div class="center">
          <button class="btn emile">
            <svg width="210px" height="70px" viewBox="0 0 210 70" class="border" preserveAspectRatio="none">
              <polyline points="209,29 209,69 1,69 1,1 160,1" class="bg-line"/>
              <polyline points="209,29 209,69 1,69 1,1 160,1" class="hl-line"/>
            </svg>
            <span>ENTREZ</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-grid reveal verena">
    <div class="box-image">
      <img src="/assets/index/verenacapa.jpg" alt="pintura de Verena Matzen" class="photo">
    </div>
    <div class="box-names verena">
      <div class="box-name">
        <p class="artist-name verena">VERENA</p>
      </div>
      <div class="box-surname">
        <p class="artist-surname">MATZEN</p>
      </div>
      <div class="box-button">
        <div class="center">
          <button class="btn verena">
             <svg width="210px" height="70px" viewBox="0 0 210 70" class="border" preserveAspectRatio="none">
              <polyline points="209,29 209,69 1,69 1,1 160,1" class="bg-line"/>
              <polyline points="209,29 209,69 1,69 1,1 160,1" class="hl-line"/>
            </svg>
            <span>ENTREZ</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="atelier-section">
  <div class="atelier-grid reveal">
    <div class="atelier-description">
      <p class="atelier-text">O Atelier Cité é palco da colorida história de três artistas: Émile Tuchband, Isabelle Tuchband e Verena Matzen. Émile nasceu em Paris e viveu entre o Brasil e a França, onde realizava exposições anuais na galeria de Marcel Bernheim. Isabelle, filha de Émile, cresceu entre os pincéis e as cores do atelier do pai no Brasil. Verena nasceu na Argentina e mudou-se ainda criança para o Brasil. Isabelle e Verena moraram juntas em Paris, onde estudaram na École des Arts Décoratifs. Em 1989, os três inauguraram o Atelier Cité na rua Bela Cintra, em São Paulo. Ainda que cada artista tenha desenvolvido sua linguagem individual, a fundamentalidade da cor conecta o conjunto dos trabalhos e tem sido a alma da curadoria de diversas exposições, como a realizada pelo MAB-FAAP, <a href="https://www.faap.br/hotsites/hotsite_isabelle/index.htm" class="link-faap" target="_blank">TUCHBAND</a>. Um palco compartilhado em cores, espiritualidade e joie de vivre. Bienvenue à tous!</p>
    </div>
    <div class="atelier-images">
      <div class="slider">
        <ul class="slider-ul">
          <li>
            <img src="/assets/index/landrot.jpg" alt="Isabelle Tuchband galeria em Paris" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/tuctuc.jpeg" alt="Isabelle Tuchband no Monoprix Paris" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/metro.jpg" alt="Isabelle Tuchband e Verena Matzen painel metro Santa Cruz" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider fixed-slide">
        <img src="/assets/index/jornal.jpeg" alt="Atelier Cite na coluna de Monica Bergamo" class="slider-img newspaper-img">
      </div>
      <div class="slider">
        <ul class="slider-ul slider-dois">
          <li>
            <img src="/assets/index/isavaso.jpg" alt="Isabelle Tuchband pintura em vaso" class="slider-img isavaso-img">
          </li>
          <li>
            <img src="/assets/index/tigre.jpg" alt="Isabelle Tuchband Jaguar Parade" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/isaemile.jpeg" alt="Isabelle e Emile Tuchband" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider fixed-slide">
        <img src="/assets/index/portrait.jpeg" alt="Isabelle Tuchband pintando retrato" class="slider-img">
      </div>
      <div class="slider">
        <ul class="slider-ul slider-tres">
          <li>
            <img src="/assets/index/azul.jpg" alt="Isabelle Tuchband e Verena Matzen" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/pele.jpg" alt="Pelé com Isabelle Tuchband e Verena Matzen" class="slider-img pele">
          </li>
          <li>
            <img src="/assets/index/vepainting.jpeg" alt="Verena Matzen pintando" class="slider-img">
          </li>
        </ul>
      </div>
      <div class="slider">
        <ul class="slider-ul">
          <li>
            <img src="/assets/index/dvf.jpeg" alt="pulseira Isabelle Tuchband para Diane Von Furstenberg" class="slider-img">
          </li>
          <li>
            <img src="/assets/index/ferrero.jpeg" alt="ovo Ferrero por Isabelle Tuchband" class="slider-img ferrero-img">
          </li>
          <li>
            <img src="/assets/index/cite1.jpg" alt="Isabelle Tuchband e Verena Matzen" class="slider-img">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="store-section">
  <div class="store">
    <div class="store-head reveal">
      <p class="store-title">STORE | LIMITED EDITIONS</p>
        <div class="store-btn-container">
          <button class="store-btn"><span>PURCHASE JOY</span></button>
        </div>
    </div>
  <div class="store-grid reveal">
    <% if @products.any? %>
      <% @products.each do |product| %>
        <div class="store-card reveal">
          <div class="product-img-box">
            <% if product.image.attached? %>
              <%= image_tag product.image, class: "product-img" %>
            <% else %>
              <p>Imagem indisponível</p>
            <% end %>
          </div>
          <p class="product-title"><%= product.title %></p>
          <p class="product-description"><%= product.artist.name %> - <%= product.technique %></p>
          <p class="product-description"><%= product.height %> x <%= product.width %> cm - <%= product.year %> - <%= product.edition %></p>
          <p class="product-description reference">referência: <%= product.sku %></p>
          <a href="#"><p  class="product-link">ver na loja</p></a>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
