<div>
  <p class="contact-page-title"><%= t '.contact' %></p>
</div>
<div class="contact-box">
  <div class="contact-img-box">
    <img src="app/assets/images/store/jevous.jpg" alt="je vous souhaite" class="contact-img">
  </div>
  <div class="contact-message form-admin">
    <%= form_for @contact do |form| %>
      <% if @contact.errors.any? %>
        <div id="error_explanation" class="form-errors-box">
          <ul>
            <% @contact.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
          <%= form.label :name, (t '.name') %>
          <%= form.text_field :name, class: "form-input" %>
      </div>
      <div>
          <%= form.label :email, (t '.email') %>
          <%= form.email_field :email, class: "form-input" %>
      </div>
      <div>
          <%= form.label :message, (t '.message') %>
          <%= form.text_area :message, class: "form-input text-area" %>
      </div>
      <div>
          <%= form.label :nickname, class: "hidden-box" %>
          <%= form.text_field :nickname, class: "hidden-box" %>
      </div>
      <div>
          <%= form.submit (t '.send_message'), class: "form-button send-message-btn" %>
      </div>
    <% end %>
  </div>
</div>
