<% if not user_signed_in? %>  
  <nav>
    <div class="topnav" id="myTopnav">
      <a href="/" class="logo-link">
        <%= image_tag "index/logocite.jpeg", alt: "logotipo Atelier Cité", class:"logo-img" %>
      </a>
      <a href="/isabelle-tuchband" class="nav-link"><%= t '.isabelle' %></a>
      <a href="/emile-tuchband" class="nav-link"><%= t '.emile' %></a>
      <a href="/verena-matzen" class="nav-link"><%= t '.verena' %></a>
      <a href="http://loja.ateliercite.com.br" class="nav-link"><%= t '.store_link' %></a>
      <a href="/contacts" class="nav-link"><%= t '.contact' %></a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </nav>
  <div class="box-player">
    <div class='content'>
      <div class='visible'>
        <ul class="sound-ul">
          <li class="sound-li">sound on</li>
          <li class="sound-li">party time</li>
          <li class="sound-li">sound on</li>
          <li class="sound-li">welcome</li>
        </ul>
      </div>
    </div>
    <div class="box-music">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/38GAGvXt4wMNFsOVZhpG3w?utm_source=generator&theme=0" width="70%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" loading="lazy" class="music-frame"></iframe>
    </div>
  </div>
<% end %>