<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1">
    <title>Atelier Cité</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bagel+Fat+One&family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
       <%= render 'layouts/top' %>
    </header>
    <main>
      <div class="notice-box">
        <p class="notice"><%= alert %></p>
        <p class="alert"><%= notice %></p>
      </div>
      <div class="principal">
         <%= yield %>
      </div>
    </main>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    <script src="/assets/mobile_navbar.js"></script>
  </body>
</html>
