<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1">
    <title>Atelier Cité</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet"> 
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <a href="/" class="logo">
          <img src="/assets/logo.jpg" class="logoimg" alt="Logotipo Atelier Cité">
        </a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="#">artistas</a></li>
          <li><a href="#">o atelier</a></li>
          <li><a href="#">viewing room</a></li>
          <li><a href="#">loja</a></li>
          <li><a href="#">contato</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="form-admin">
        <% if user_signed_in? %>
          <%= link_to 'logout', destroy_user_session_path, data: { turbo_method: :delete } %>
        <% end %>
      </div>
      <div>
        <p class="notice" class="form-admin"><%= alert %></p>
        <p class="alert" class="form-admin"><%= notice %></p>
      </div>
      <div class="principal">
         <%= yield %>
      </div>
    </main>
    <script src="/assets/mobile_navbar.js"></script>
  </body>
</html>
