<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1">
    <title>Atelier Cité</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bagel+Fat+One&family=Encode+Sans+Semi+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <div class="topnav" id="myTopnav">
          <a href="#home" class="home-link">ATELIER CITÉ</a>
          <a href="#" class="nav-link">Isabelle Tuchband</a>
          <a href="#" class="nav-link">Émile Tuchband</a>
          <a href="#" class="nav-link">Verena Matzen</a>
          <a href="#" class="nav-link">Sala de Exposição</a>
          <a href="#" class="nav-link">Loja | Edições Limitadas</a>
          <a href="#" class="nav-link">Contato</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </nav>
      <div class="box-player">
        <div class='content'>
          <div class='visible'>
            <ul class="sound-ul">
              <li class="sound-li">sound on</li>
              <li class="sound-li">party time</li>
              <li class="sound-li">sound on</li>
              <li class="sound-li">welcome</li>
            </ul>
          </div>
        </div>
        <div class="box-music">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/38GAGvXt4wMNFsOVZhpG3w?utm_source=generator&theme=0" width="70%" height="120" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="music-frame"></iframe>
        </div>
      </div>
</section>
    </header>
    <main>
      <div class="form-admin">
        <p class="notice"><%= alert %></p>
        <p class="alert"><%= notice %></p>
      </div>
      <div class="principal">
         <%= yield %>
      </div>
    </main>
    <script src="/assets/mobile_navbar.js"></script>
  </body>
</html>
